---
import partner1 from "@assets/partners/Component 56.svg?url";
import partner2 from "@assets/partners/Component 57.svg?url";
import partner3 from "@assets/partners/Component 59.svg?url";
import partner4 from "@assets/partners/Component 60.svg?url";
import partner5 from "@assets/partners/Component 61.svg?url";
import partner6 from "@assets/partners/Component 55.svg?url";
---

<section class="mt-[13.5rem] flex flex-col gap-y-14">
  <h2 class="mx-auto max-w-4xl text-center text-5xl font-bold leading-tight">
    Working with world class partners. We`re partner first!
  </h2>
  <div class="flex items-center justify-center gap-x-16 bg-black py-20">
    <a href="/"><img src={partner3} alt="" loading="lazy" /></a>
    <a href="/"><img src={partner5} alt="" loading="lazy" /></a>
    <a href="/"><img src={partner1} alt="" loading="lazy" /></a>
    <a href="/"><img src={partner4} alt="" loading="lazy" /></a>
    <a href="/"><img src={partner6} alt="" loading="lazy" /></a>
    <a href="/"><img src={partner2} alt="" loading="lazy" /></a>
  </div>
</section>
